.navbar {
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
}

.navbar-brand {
    margin-left: 10px;
}

.btn-pos {
    justify-content: flex-end;
}

.active {
    background-color: antiquewhite;
    cursor: pointer;
}